/* Enter your custom styles here */
.sapMTokenizer .sapMToken {

  float: left;

}

.buttonBorderless .sapMBtnInner{
	
	border-color: transparent !important;

}

.eventsListObservation {
  border-radius: 0.25rem;
  /*border: 1px solid #e5e5e5;*/
  /*border: 1px solid #73AD21;*/
  background-color: rgb(246, 246, 219);
  padding: 5px;
  box-shadow: 0 0 0 0.0625rem rgba(0,0,0,0.1), 0 0.125rem 0.5rem 0 rgba(0,0,0,0.1);
}

.eventsListPot {
  border-radius: 0.25rem;
  /*border: 1px solid #e5e5e5;*/
  /*border: 1px solid #73AD21;*/
  background-color: antiquewhite;
  padding: 5px;
  box-shadow: 0 0 0 0.0625rem rgba(0,0,0,0.1), 0 0.125rem 0.5rem 0 rgba(0,0,0,0.1);
}

.eventsListSoil {
  border-radius: 0.25rem;
  /*border: 1px solid #e5e5e5;*/
  /*border: 1px solid #73AD21;*/
  background-color: #f8caa5;
  padding: 5px;
  box-shadow: 0 0 0 0.0625rem rgba(0,0,0,0.1), 0 0.125rem 0.5rem 0 rgba(0,0,0,0.1);
}

.noBorder{
	border:none !important;
	box-shadow:none !important;
}

.textAlignRight{
	text-align: right;
}

.textAlignLeft{
	text-align: left;
}

.myVeryCompact.myVeryCompact{
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

/* to have wrapping enabled for tokens in custom tokenizer  */
.sapMTokenizer .sapMToken {
  float: left;
}

.unobtrusiveText {
  color: #6a6d70; 
}

.inflorescenceColor {
  background-color: #fde9d9;
}

.floweringColor {
  background-color: #e26b0a;
}

.seedsRipeningColor {
  background-color: #f1c232;
}

.customFlowerHistoryColor[data-nodecolor='not_flowering'] {
  /* color: #ff5c00;
  font-weight: bold; */
  /* background-color: #fde9d9; */
  background-color: transparent;
}

.customFlowerHistoryColor[data-nodecolor='inflorescence_growing'] {
  /* color: #009db8;
  font-weight: bold; */
  background-color: #fde9d9;
}

.customFlowerHistoryColor[data-nodecolor='flowering'] {
  /* color: #009db8;
  font-weight: bold; */
  background-color: #e26b0a;
}

.customFlowerHistoryColor[data-nodecolor='seeds_ripening'] {
  /* color: #009db8;
  font-weight: bold; */
  background-color: #f1c232;
}

.taxonCustomNotesBox{
  background-color: rgb(254, 247, 227);
  border-radius: 5px;
  border: 2px solid #d3d3d3;
  padding: 5px;
  margin-block-end: 0.3rem;
}

.taxonLinkBox{
  background-color: rgb(236, 254, 235);
  border-radius: 5px;
  border: 2px solid #d3d3d3;
  padding: 5px;
  margin-block-end: 0.3rem;
}

.roundedBorders{
  /* apply rounded corners to image */
  border-radius: 5px;
}
